@import (reference) "../../styles/palette.less";

.layout-container {
  & .ant-layout {
    background: @background;
  }

  & .ant-menu {
    font-family: "Cairo", sans-serif;

    & .ant-menu-item {
      & a {
        color: white;
        &:hover {
          color: @primary-red;
        }
      }
    }
  }

  .layout-content {
    margin-top: 55px;
  }
}

.ant-menu-dark {
  background: rgba(0, 0, 0, 0);
  color: white;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: @gold;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background: rgba(0, 0, 0, 0.9);
  & a {
    color: white;
    &:hover {
      color: @primary-red;
    }
  }
}
