.home-container {
  min-height: 500px;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px 50px;
}

.home-container .announcement-title {
  color: gold;
  font-size: 45px;
  font-family: "Teko", sans-serif;
  margin: 0 auto;
  width: 200px;
}

.home-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url("../../images/fuerza_coach.jpeg");
  background-size: cover;
  background-position: 50% 45%;
  position: relative;
  padding: 20px 50px 50px;
  height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  font-size: 40px;
  font-family: "Teko", sans-serif;
  color: gold;
}

.hero-text h1 {
  color: white;
  margin-bottom: 0;
  font-size: 70px;
}
.hero-text p {
  margin-bottom: 20px;
}
.home-hero .ant-btn {
  height: 35px;
  font-size: 23px;
  padding: 2px 40px;
  background: red;
  color: white;
  border: 1px solid transparent;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-hero .ant-btn:hover {
  border: 1px solid transparent;
  background: rgba(255, 125, 125);
}
