@import (reference) "../../../styles/palette.less";

.footer-container {
  text-align: center;
  background: black;
  color: white;
  font-family: "Cairo", sans-serif;
  padding: 25px 50px;

  & hr {
    width: 700px;
    margin-bottom: 15px;
  }

  & .footer-bottom {
    margin: 50px 0;
    font-size: 17px;
  }

  & .ant-btn {
    color: white;
    background: black;
    font-size: 17px;
    height: 30px;
    top: -2px;
  }
}

@media (max-width: 768px) {
  .footer-container {
    & hr {
      width: 100%;
      margin-bottom: 15px;
    }

    & .footer-bottom {
      margin: 25px 0;
      font-size: 17px;
    }
  }
}
